*{ /*Configuração padrão*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	overflow-x: hidden; /*Pra pagina não se mover na posição lateral, apenas de cima pra baixo*/
	background: #fff;
}

#busca{ /*Titulo das paginas, que tem a barra de busca, nome, etc.*/
	display: flex;
	align-items: center;
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFD700;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	z-index: 1;
}

#busca input {/*Definindo a aparência da barra de busca*/
	position: absolute;
	right: 70px;
	float: right;
    width: 40%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
	outline: none;
	border-radius: 30px;
}

#logo{ /*Símbolo da página*/
	position: absolute;
	top: 10px;
	left: 10px;
	height: 40px;
	border-radius: 50%;
}

#titulo{
	color: #000;
	font-size: 40px;
	margin-left: 40px;
}

.menu-lateral {
    height: 100vh;
    width: 60px;
    background: #DAA520;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #F54927;
    position: fixed;
    z-index: 2;
    top: 67px;
    left: 0;
    overflow-y: auto;
    transition: 0.2s;
}

.menu-lateral:hover{ /*Ativação do menu-lateral ao passar o mouse sobre ele*/
	width: 300px;
}

ul{
	height: 100%;
	list-style: none;
}

ul li{
	transition: 0.2s;
}

ul li:hover{
	background: #EEDD82;
}

ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	padding: 20px 4%;
	display: flex;
	line-height:30px;
}

ul li a .link-texto{
	margin-left: 30px;
}

ul li i{
	font-size: 30px;
}

/*Aqui acaba a configuração do menu lateral*/

#caixa-imagem{ 
	width: 100%;
}

#imagemHome{ /*Imagem do início*/
	width: 100%;
	height: 500px;
	object-fit: cover;
}

main{ /*DIV do conteúdo principal*/
	margin: 60px 0 30px 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#caixa-categoria{ /*DIv que engloba as categorias(Aqueles círculos lá)*/
	display: flex;
	margin-top: 30px;
	gap: 30px;
	justify-content: center;
	flex-wrap: wrap;
}

.categorias { /*Auto explicativo*/
	height: 200px;
	width: 200px;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}

.categorias .circulo{/*Auto explicativo*/
	height: 100px;
	width: 100px;
	background: #ffff66;
	border: 2px solid #FFD700;
	border-radius: 50%;
}

.categorias button{/*Auto explicativo*/
	background: #343333;
	width: 100px;
	padding: 10px;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.categorias button:hover {
  background: #FFD700;
  color: #000;
  transition: 0.3s;
}

main section { /*Seção dentro da div principal*/
	width: 100%;
	height: 100%;
	padding: 20px 0 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
	margin: 0 auto;
}

main section .caixa-conteudo{/*DIV que engloba os conteúdos da página*/
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
	gap: 20px;
}

main section .conteudo{/*Auto explicativo*/
	padding: 20px;
	border: 1px solid #ccc;
    border-radius: 20px;
	height: 200px;
	width: 400px;
	background: #FFFFE0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	transition: transform 0.2s ease;
}

main section .conteudo:hover {
	transform: scale(1.02);
}

main section .caixa-conteudo p{ /*Legendas abaixo do contúdo*/
	width: 100%;
	text-align: justify;
	background: #DCDCDC;
}

footer{ /*DIV do fundo da página*/
	height: 80px;
	background: gray;
	font-size: 16px;
	text-align: center;
	color: #fff;
	padding: 15px 0;
}

@media(max-width: 425px){
	.menu-lateral{
		width: 0;
		padding: 40px 0;
		overflow: hidden;
	}
	
	.menu-lateral:hover{
		width: 200px;
	}
	
	main{
		margin-left: 0;
	}
	
	main section{
		max-width: 100%;
		padding: 20px;
	}
	
	main section{
		width: 100%;
		flex: 0 0 100%;
	}
}
