*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(45deg, cyan, yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.tela-login{
    background-color: rgba(0, 0, 0, 0.9);
    padding: 80px;
    border-radius: 15px;
    color: white;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

input{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}

button{
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}

button:hover{
    background-color: deepskyblue;
    cursor: pointer;
}