*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', system-ui, sans-serif;
}

body{
    background: linear-gradient(90deg, #2563EB, #1E40AF);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* CARD DE LOGIN */
.tela-login{
    background: #d7ebf1;
    padding: 50px 45px;
    border-radius: 20px;
    width: 100%;
    max-width: 380px;
    box-shadow: 0 10px 25px rgba(0,0,0,.25);
}

/* TÍTULO */
.tela-login h1{
    text-align: center;
    margin-bottom: 30px;
    color: #DAA520; /* dourado do site */
    font-size: 28px;
    letter-spacing: 1px;
}

/* CAMPOS */
.tela-login input{
    width: 100%;
    padding: 14px 16px;
    margin-bottom: 15px;
    border-radius: 12px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 15px;
    background: #fff;
    transition: border .2s, box-shadow .2s;
}

.tela-login input:focus{
    border-color: #2563EB;
    box-shadow: 0 0 0 2px rgba(37,99,235,.2);
}

/* BOTÃO */
.tela-login button{
    margin-top: 10px;
    background: linear-gradient(90deg, #2563EB, #1E40AF);
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 14px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: transform .2s ease, box-shadow .2s ease;
}

.tela-login button:hover{
    transform: scale(1.03);
    box-shadow: 0 6px 15px rgba(0,0,0,.25);
}
